p.displayNote {
  height: 500px;
  border-style: solid;
  background-color: white;
  border-width: 2px;
  margin: auto;
  padding: 5px;
  overflow-y: scroll;
}

.form {
  padding: 20px;
}

form {
  text-align: center;
}

.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://image.shutterstock.com/z/stock-photo-old-notebook-compass-map-vintage-binoculars-photo-camera-on-wooden-background-221543491.jpg');
  color: white;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.formTitle {
  text-align: center;
  font-weight: bold;
}

.formButtons {
  padding: 5px;
}

.buttonSpacing {
  padding: 5px 0px 5px 0px;
}

table {
  text-align: center;
  font-weight: bold;
  background-color: white;
}

.pageButtons {
  text-align: center;
  margin: auto;
}

body {
  background-color: #DEB887;
}

th {
  text-align: center;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

trix-editor {
  background-color: white;
}