<div id="notes" ng-controller="DisplayController">
  Hello World! This is the Main Notes Document.
  <!--<div class="col-xs-8">{{example}}</div><div class="col-xs-4">Paragraph</div>-->
  <form id="submitForm" ng-submit="submitNote(titleText, noteText)">
      Create New Note: <input type="text" ng-model="titleText" ng-click="clearField('titleText')">
      <textarea ng-model="noteText" rows="5" cols="50" ng-click="clearField('noteText')"> </textarea>
      <input type="submit" id="submit" value="Create Note"/>
  </form>
  <div class="col-xs-4">
    <table class="table table-bordered table-hover table-responsive">
      <tr><th>Notes</th><th></th><th></th></tr>
      <tr ng-repeat="note in noteList | startFrom:currentPage*pageSize | limitTo:pageSize track by $index">
        <td ng-click="selectNote($index + (currentPage * pageSize))">{{note.title}}</td>
        <td ng-click="editNote($index + (currentPage * pageSize))">Edit</td>
        <td ng-click="deleteNote($index + (currentPage * pageSize))">Delete</td>
      </tr>
    </table>
    <button ng-disabled="currentPage == 0" ng-click="prevPage()">Previous Page</button>
    {{currentPage+1}}/{{totalPages()}}
    <button ng-disabled="currentPage >= noteList.length/pageSize - 1" ng-click="nextPage()">Next Page</button>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-6">
        <div class="noteDisplay">
          <p class="displayNote">{{currentNote}}<p>
        </div>
  </div>
</div>